::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #00030b;
}
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}
